In [120]:
import pandas as pd

In [121]:
df = pd.read_csv(r"C:\Users\Bezawada\Downloads\spotify_millsongdata.csv\spotify_millsongdata.csv")
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [122]:
df.tail()

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [123]:
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [124]:
df.shape

(57650, 4)

In [125]:
df.isnull().count()

artist    57650
song      57650
link      57650
text      57650
dtype: int64

In [126]:
df.dropna()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [127]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [128]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [129]:
df.head()

,artist,song,text
0,Boney M.,Breakaway,Papa said don't go to discos \r\nMama said do...
1,Demi Lovato,Confident,Are you ready? Ha! x3 \r\n \r\nIt's time for...
2,Yes,Fortune Seller,Fortune \r\nSeller \r\nFinder \r\nSeeker \...
3,Lou Reed,Hang On To Your Emotions,When your imagination has too much to say \r\...
4,Natalie Cole,Can We Get Together Again,Written by chuck jackson and marvin yancy \r\...

In [130]:
df['text'][0]

"Papa said don't go to discos  \r\nMama said don't play with boys  \r\nSister said stop all romancing  \r\nBrother said stop all your noise  \r\n  \r\nBreakaway ha, ha breakaway  \r\nBreakaway ha, ha breakaway  \r\n  \r\nPapa said ain't working harder  \r\nBetter stay and work through the night  \r\nCome over here and sit in my lap now  \r\nYou might get a rise if you do what is right  \r\n  \r\nBreakaway ha, ha breakaway  \r\nBreakaway ha, ha breakaway  \r\n  \r\nGot to tear off your chains  \r\nPull up your roots  \r\nPack up your money  \r\nAnd put on back your boots and breakaway  \r\n  \r\nBreakaway ha, ha breakaway  \r\nBreakaway ha, ha breakaway  \r\n  \r\nStand up boy, down at the disco  \r\nSay I like you, will you dance on with me  \r\nSay I love you, you're the girl I've been wanting  \r\nMaybe some day you can marry me  \r\n  \r\nBreakaway ha, ha breakaway  \r\nBreakaway ha, ha breakaway  \r\n  \r\nGot to tear off your chains...\r\n\r\n"

In [131]:
df.shape

(5000, 3)

In [132]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', '').replace(r'\n',' ',regex = True)

In [133]:
df['text']

0       papa said don't go to discos  \r mama said don...
1       are you ready? ha! x3  \r   \r it's time for m...
2       fortune  \r seller  \r finder  \r seeker  \r g...
3       when your imagination has too much to say  \r ...
4       written by chuck jackson and marvin yancy  \r ...
                              ...
4995    save it, save it,  \r save it all for me  \r  ...
4996    i love you so much, can't count all the ways  ...
4997    come unto me and you will feel perfection  \r ...
4998    people say she's only in my head  \r it's gonn...
4999    straight out of some story  \r you walk in in ...
Name: text, Length: 5000, dtype: object

In [134]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Bezawada\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [135]:
from nltk.stem import PorterStemmer

def token(txt):
    stemmer = PorterStemmer()
    tokens = nltk.word_tokenize(txt)
    stemmed_tokens = [stemmer.stem(w) for w in tokens]
    return " ".join(stemmed_tokens)

In [136]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [137]:
df['text'].apply(lambda x: token(x))

0       papa said do n't go to disco mama said do n't ...
1       are you readi ? ha ! x3 it 's time for me to t...
2       fortun seller finder seeker giver taker wisdom...
3       when your imagin ha too much to say when the c...
4       written by chuck jackson and marvin yanci i re...
                              ...
4995    save it , save it , save it all for me save it...
4996    i love you so much , ca n't count all the way ...
4997    come unto me and you will feel perfect come un...
4998    peopl say she 's onli in my head it 's gon na ...
4999    straight out of some stori you walk in in all ...
Name: text, Length: 5000, dtype: object

In [138]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [139]:
tfid = TfidfVectorizer(analyzer = 'word',stop_words = 'english')
matrix = tfid.fit_transform(df['text'])
similar = cosine_similarity(matrix)

In [140]:
similar[0]

array([1.        , 0.36737763, 0.00183955, ..., 0.00473996, 0.00949174,
       0.00203329])

In [141]:
df[df['song'] =='Waiting For The Man'].index[0]

4428

In [157]:
def recommendation(song_df):
    if song_df not in df['song'].values:
        return "Song not found in the database."
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for s_id in distances[1:21]:
        songs.append(df.iloc[s_id[0]].song)
        
    return songs

In [158]:
recommendation("Hang On To Your Emotions")

['Emotions',
 'I Do It For Your Love',
 'Inside Out',
 'Show Her The Way',
 "I'm Not That Way",
 'Drain',
 'Blue Umbrella',
 'This Time',
 'The Cage',
 'I Was In Love',
 'A Thousand Years',
 'Better Off Without You',
 'The Gift',
 'Whisper My Name When You Dream',
 'Burning Ambition',
 'Ppr:kut',
 'Boredom',
 'Making A Good Thing Better',
 'Territorial Pissings',
 'All For You']